{% extends "index.jinja" %}
{% block titulo %}
<title>Crear Nomina</title>
{% endblock titulo %}

{% block body %}
<div class="container">
    <form action="{% url 'Crear_Nomina' %}" method="post">
        {% csrf_token %}
        {{ formulario }}
        <button class="btn btn-dark" type="submit">Crear Rol</button>
    </form>

</div>
{% endblock body %}