{% extends "index.jinja" %}

{% block titulo %}
<title>Inicio</title>
{% endblock titulo %}

{% block body %}
<div class="container mt-5">
    <div class="row encabezado">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <h1>Gestion de nóminas</h1>
            </div>
            <div class="row gap-5">
                <button class="btn btn-danger col">Iniciar</button>
                <button class="btn btn-danger col">informate</button>
            </div>

        </div>
        <div class="col">
            <img width="500"
                src="https://th.bing.com/th/id/OIP.ECAOMTEI-n-Ebg_EF5YPZgHaCD?w=346&h=97&c=7&r=0&o=5&cb=iwc2&dpr=1.3&pid=1.7"
                alt="">
        </div>
    </div>
    <div class="row seccion1 mt-5 gap-4 mb-5" >
        <div class="col card text-center p-5">
            <h2 class="card-title">Cuentas gestionadas</h2>
            <h3 class="card-text text">4000</h3>
        </div>
        <div class="col card text-center p-5">
            <h2 class="card-title">informes</h2>
            <h3 class="card-text">genera las nóminas ya</h3>
        </div>
        <div class="col card text-center p-5">
            <h2 class="card-title">No lo olvides</h2>
            <h3 class="card-text">genera la nomina para trámites</h3>

        </div>

    </div>
</div>
{% endblock body %}