{% extends "index.jinja" %}

{% block titulo %}
<title>Inicio</title>
{% endblock titulo %}

{% block body %}
<div class="container mt-5">
    <div class="row encabezado">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <h1>Gestion de nóminas</h1>
            </div>
            <div class="row gap-5">
                <button class="btn btn-primary col ">Iniciar</button>
                <button class="btn btn-primary col ">Informate</button>
            </div>

        </div>
        <div class="col">
            <img width="500"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQskaWutY3d4lDA1JIrmbthcTKWy7ggaBUkTQ&s"
                alt="">
        </div>
    </div>
    <div class="row seccion1 mt-5 gap-4 mb-5" >
        <div class="col card text-center p-5 bg-warning" >
            <h2 class="card-title">EL MEJOR BANCO PARA TI</h2>
            <h3 class="card-text text"></h3>
        </div>
        <div class="col card text-center p-5 bg-warning" >
            <h2 class="card-title">UNETE A NOSOTROS</h2>
            <h3 class="card-text"></h3>
        </div>
        <div class="col card text-center p-5 bg-warning">
            <h2 class="card-title ">ESTAMOS CONTIGO DESDE 1993</h2>
            <h3 class="card-text"></h3>

        </div>

    </div>
</div>
{% endblock body %}