{% extends "index.jinja" %}
{% block titulo %}
<title>Actualizar Empleado</title>
{% endblock titulo %}

{% block body %}
<div class="container mt-5 text-center">
    <form action="{% url 'Actualizar_empleado' id %}" method="post">
        {% csrf_token %}
        {{ formulario }}
        <button class="btn btn-dark mt-4" type="submit">Actualizar empleado</button>
    </form>

</div>
{% endblock body %}